.layout-host {
  min-width: 0;
}

.panel-title {
  padding: 0 6px;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

:host ::ng-deep .e-dashboardlayout .e-panel {
  border-radius: 16px;
  border-color: rgb(var(--color-sf-outline-variant));

  .e-panel-header {
    border-radius: 16px 16px 0 0;
  }
}
